body {
    background-color: #1f2426;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */

}

.modal-content {
    height: 300px;
    width: 300px;
    /* Establece el ancho predeterminado */
    max-width: calc(100% - 550px);
    /* Ancho máximo teniendo en cuenta el margen inicial */
    margin: 5px 5px 5px 362px;
    /* Centra horizontalmente el modal */
    padding: 100px;
    /* Añade relleno según sea necesario */
    border: 2px solid #2f273f;
    /* Borde del modal */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra del modal */
    text-align: center;
    background: url('https://t4.ftcdn.net/jpg/06/96/05/71/240_F_696057183_RI4QGTFLdvD8qfPOVlASl1AYHkprKrIy.jpg');
    background-size: cover;
    background-position: center center;
}


.ProyectoCrud {
    position: absolute;
    text-align: center;

}

.ProyectoCrud h6 {
    color: whitesmoke;
}

#CarpetaCrud {
    max-width: 17%;
    margin-top: 15px;
}

.carpetas {
    margin-left: -20%;

}


.Aviso {
    color: white;
    text-align: center;
    margin-top: 70px;
    font-size: 15px;
    font-weight: bold;
    background-color: #3b3b3b;
    /* Color de fondo similar al de Windows 7 */
    padding: 15px;
    /* Borde del modal */
    /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.Aviso h2 {
    margin-bottom: 10px;
}

.Aviso p {
    margin-bottom: 0;
}