body {
    background-color: #1f2426;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */

}

.modal-content {
    position: relative;
    width: 50%;
    height: 100%;
    max-width: 90%;
    max-height: 100%;
    margin-top: auto; /* Centra verticalmente */
    margin-left: auto; /* Centra horizontalmente a la derecha */
    margin-right: 0; /* Ajusta el margen derecho a 0 para alinear a la derecha */
    margin-bottom: auto; /* Centra verticalmente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: url('https://t4.ftcdn.net/jpg/06/96/05/71/240_F_696057183_RI4QGTFLdvD8qfPOVlASl1AYHkprKrIy.jpg');
    background-size: cover;
    background-position: center center;
    overflow: auto; /* Permite desplazamiento si el contenido es demasiado grande */
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center;
}

.ProyectoCrud {
    position: absolute;
    margin-top: 3%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.ProyectoCrud h6 {
    color: whitesmoke;
}

.CarpetaCrud {
    width: 27%;
    max-height: 27%; /* Para que la imagen no se salga del contenedor */
    height: auto;
    margin: 10px; /* Margen horizontal de 10px entre cada imagen */

}

.carpetas {
    position: relative;
    align-items: center;

}

.Aviso {
    width: 70%; /* Ancho del div */
    margin: 0 auto; /* Margen automático a la izquierda y a la derecha para centrarlo */
    background-color: #f0f0f0;
    padding: 20px;
        
}

.Aviso h2 {
    margin-bottom: 10px;
}

.Aviso p {
    margin-bottom: 0;
}


