
.Contenedor{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0% auto;
    margin: 0% auto;
    border-radius: 4px;
    background-image: url('../../assets/img/FondoSkills.jpg');
    background-size: cover;
    box-shadow: 0 0 10px #000;
}

.Skills{
    position: relative;
    width: 100%;
    height: 40%;
    background-color: #4159A8;
    margin-top: auto;
    text-align: center;
    box-shadow: 0px -5% 10% rgba(0, 0, 0, 0.5);
}

h3{
    color: white;
}

.stackCurrent{
    position: relative;
    width: 75%; /* Define el ancho deseado */
    display: flex;
    align-items: center; 
    overflow: hidden;
    margin-top: 16%;
    justify-content: space-between;

}

.skill {
    margin: auto 0;
}

.Worked{
    margin-top: 10%;

}

.barra-superior{
    position: relative;
    margin-left: auto;

}

.boton-cerrar {
    background: none;
    border: none;
    color: #888;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 20px;
    
}
.boton-cerrar:hover {
    color: #ccc;
}
.boton-cerrar:focus {
    outline: none; /* Elimina la silueta de enfoque */
    /* Añade aquí cualquier otro estilo que desees anular o establecer para el foco */
}

.skills-contenedor{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;  
    width: 33%; /* Cambia esto según el tamaño que necesites */
    height: 60%; /* Cambia esto según el tamaño que necesites */
    background-image: linear-gradient(to bottom, rgb(255 255 255 / 1), rgb(255 255 255 / 0));
    transform: rotate(10deg);
    
}

.fila{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12%;
    transform: rotate(-10deg);
}

.icon {
    width: 20%;
    height: 80%;
    padding: 0 7%;
}
