<div class="Contenedor">
    <div class="barra-superior">
        <button class="boton-cerrar" (click)="cerrarModal()">x</button>
    </div>
    
    <div class="skills-contenedor">
        <div class="fila">
            <img class="icon angular-icon" src="../../assets/img/angular-icon.svg" alt="Angular">
            <img class="icon html-icon" src="../../assets/img/html.png" alt="HTML">
            <img class="icon css-icon" src="../../assets/img/css-3.png" alt="CSS">
            <img class="icon js-icon" src="../../assets/img/js.png" alt="JavaScript">            
        </div>
        <div class="fila">
            <img class="icon java-icon" src="../../assets/img/java.png" alt="Java">
            <img class="icon spring-icon" src="../../assets/img/spring-boot-ok.png" alt="Spring Boot">
            <img class="icon figma-icon" src="../../assets/img/figma.png" alt="Figma">
        </div>
    </div>
        <div class="stackCurrent">
            <h3 class="skill current">Current</h3>
            <h3 class="skill stack">Stack</h3>
        </div>
    <div class="Skills">
        <h3 class="Worked">Worked With</h3>
    </div>      
</div>
