  .custom-modal {
    background-color: #aaa;
  }

  #image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  #background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #Carpeta {
    max-width: 38vh;
  }

  #Work{
    margin: 0;
  }

  #Carpeta-Work{    
    padding-top: 1%;
  }  

  #Contenedor{  
    display: flex;
    max-width: 10%;
    max-height: 30%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: 5vh;
  }

  #Carpeta-Work h6{
    font-weight: bold;
  }

  .ContenedorSkill{  
    padding-top: 1%;
    margin-right: 2vh;
  }

  .CarpetaSkill{
    max-width: 10vh;
  }